:root{
    --purple: #6f4d94;
}

html{
    text-align: center;
    scroll-behavior: smooth;
    overflow-x: hidden;
    /* overflow: hidden; */
/*     background-color: var(--purple);*/}

nav img{
    height: 150px;
}

/* nav{
    /* background-color: #5f5f5f; 
    margin: 0 auto;
    color: white;
}

nav a{
    color:white;
}

.nav-item .btn{
    background-color: var(--purple);
}

.carousel-item{
    
    margin: 0 auto;
    height: 300px;
}


main img{
    max-width: 50%;
} */

main{
    text-align: center;
    margin: 0 auto;
}

main p{
    max-width: 70%;
    margin: 0 auto;
}

/* main div{
    margin: 20px;
} */
#button{
    background-color:#6f4d94;
    padding: 5px;
    color: white !important;
    border-radius: 10px;
}

#button li{
    color:white;
}

.nav-item{
    padding: 0 20px 0 20px;
    font-weight: bold;
    
}

nav{
    padding: 0px 15px 0px 0px !important;
    /* background-color: lightgrey; */
    font-size: 1.2em;
    
}

nav.navbar-navbar-expand-lg.navbar-light{
    padding: 0 !important;
}

footer{
    padding: 15px;
}

footer i{
    color: white;
    font-size: 3em;
    padding: 15px;
}

footer i:hover{
    color: #6f4d94;
}

footer img{
    height: 150px;
}



.col-md{
    text-align: center;
    margin: auto 0;
}

.joinheader{
    background-image: url('../images/cropcafe.jpg');
    height: 75vh;
    background-size: cover;
    background-attachment: fixed;
    
}

.historyheader{
    background-image: url('../images/clawbotcrop.jpg');
    height: 75vh;
    background-size: cover;
    background-attachment: fixed;
}

.compheader{
    background-image: url('../images/compcrop.jpg');
    height: 75vh;
    background-size: cover;
    background-attachment: fixed;
}

.indexheader{
    background-image: url('../images/header.jpg');
    height: 450px;
    background-size: cover;
    
}

.gridd img{
    max-width: 60%;
}

iframe{
    max-width: 90%;
}

/* main div{
    padding: 20px;
} */