:root{
    --purple: #6f4d94;
}

html{
    text-align: center;
/*     background-color: var(--purple);
    
 */}

nav img{
    height: 8vw;
}

/* nav{
    /* background-color: #5f5f5f; 
    margin: 0 auto;
    color: white;
}

nav a{
    color:white;
}

.nav-item .btn{
    background-color: var(--purple);
}

.carousel-item{
    
    margin: 0 auto;
    height: 300px;
}


main img{
    max-width: 50%;
} */

main{
    text-align: center;
    margin: 0 auto;
}
#button{
    background-color:#6f4d94;
    padding: 5px;
    color: white !important;
    border-radius: 10px;
}

#button li{
    color:white;
}

.nav-item{
    padding: 0 20px 0 20px;
}

nav{
    padding: 5px;
}
footer i{
    color: white;
    font-size: 3em;
    padding: 15px;
}

footer i:hover{
    color: #6f4d94;
}

footer img{
    height: 150px;
}

.col-md{
    text-align: center;
    margin: auto 0;
}

/* main div{
    padding: 20px;
} */